<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>detail.html</h1>
<div th:text="${post.p_number} + '번 게시글 / 작성자 : ' + ${post.a_id}"></div>
<div th:text="'제목 : ' + ${post.p_title}"></div>
<div th:text="${post.p_contents}"></div>

<!-- th:unless= 아니라면 / = isEmpty 않다면 (첨부파일들이 존재 한다면) -->
<th:block th:unless="${#lists.isEmpty(postfiles)}">
    <!-- for each : imageFile 로 하나씩 찢어 -->
    <th:block th:each="imageFile : ${postfiles}">
        <div>
            <!-- img src = 가져오는 경로 -->
            <!-- @{|/경로/${파일이름}|} , ||: webapp 을 뜻함 (기본 경로) -->
            <img th:src="@{|/uploads/${imageFile}|}" width="100%">
        </div>
    </th:block>
</th:block>

<table id="reply-list">
    <tr>
        <td th:text="작성자"></td>
        <td th:text="내용"></td>
    </tr>
    <th:block th:unless="${#lists.isEmpty(replies)}">
        <th:block th:each="reply : ${replies}">
            <tr>
                <td th:text="${reply.a_id}"></td>
                <td th:text="${reply.r_content}"></td>
            </tr>
        </th:block>
    </th:block>
</table>

<div>
    <label>댓글입력 : </label><br>
    <textarea name="r_content" id="r_content" style="width: 100%"></textarea><br>
    <input type="button" value="댓글 등록" style="width: 100%" onclick="reply()">
</div>

<form th:action="@{/post/delete}">
    <input type="hidden" name="p_number" th:value="${post.p_number}">
    <input type="hidden" name="a_id" th:value="${post.a_id}">
    <input type="submit" id="deleteButton" value="삭제" style="width: 100%">
</form>

<script>
    function reply(){
        let data= {};
        const r_content = $('#r_content');
        data.p_number = '[[${post.p_number}]]';
        data.r_content = r_content.val();
        axios.post('/post/reply', data)
            .then(res => {
                let replyList = '';
                replyList += `<tr><td>작성자</td>
                    <td>내용</td></tr>`;

                for (let reply of res.data) {
                    replyList += `<tr><td>${reply.a_id}</td>
                        <td>${reply.r_content}</td></tr>`;
                }
                $('#reply-list').html(replyList);
            })
            .catch(err => {
                console.log(err);
            });
        r_content.val('');
    }

    if(`[[${session.a_id}]]` != '[[${post.a_id}]]'){
        $('#deleteButton').css('display', 'none')
    }else{
        $('#deleteButton').css('display', 'block')
    }
</script>

</body>
</html>