<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>detail.html</h1>
<div th:text="${post.p_number} + '번 게시글 / 작성자 : ' + ${post.a_id}"></div>
<div th:text="'제목 : ' + ${post.p_title}"></div>
<div th:text="${post.p_contents}"></div>

<!-- th:unless= 아니라면 / = isEmpty 않다면 (첨부파일들이 존재 한다면) -->
<th:block th:unless="${#lists.isEmpty(postfiles)}">
    <!-- for each : imageFile 로 하나씩 찢어 -->
    <th:block th:each="imageFile : ${postfiles}">
        <div>
            <!-- img src = 가져오는 경로 -->
            <!-- @{|/경로/${파일이름}|} , ||: webapp 을 뜻함 (기본 경로) -->
            <img th:src="@{|/uploads/${imageFile}|}" width="100%">
        </div>
    </th:block>
</th:block>

</body>
</html>