<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        //게시글 업로드 성공하고 msg 줄거야
        const m = '[[${msg}]]';
        if (m != '') {
            alert(m);
        }
    </script>
</head>
<body>
<h1>list.html</h1>
<!-- a 태그로 메인화면 을 누르면 index.html 로. -->
<a th:href="@{/}" th:text="메인화면"></a><br>
<!-- action = PostController 에 list 로 보낸다 -->
<form action="/post/list">
    <label> 검색: </label>
    <!-- 기본세팅이야. 검색어를 받기위한 공간일 뿐.
         검색어 받고나서 submit 으로 쏴버리고 다시 비워놔. -->
    <input type="hidden" name="page_number" value="1">
    <input type="text" name="page_keyword">
    <input type="submit" value="검색">
</form>
<table>
    <tr>
        <td> 글번호 </td>
        <td> 작성자 </td>
        <td> 제목 </td>
    </tr>
    <!-- PostController - list 에서 model 에 담아왔어!
         그게 isEmpty 라면! (list 로 보내고 받고) -->
    <th:block th:if="${#lists.isEmpty(postList)}">
        <td colspan="4"> 게시글이 없습니다. </td>
    </th:block>
    <!-- th:unless = else if -->
    <th:block th:unless="${#lists.isEmpty(postList)}">
        <!-- for each 로 찢어서 뿌려주기 -->
        <th:block th:each="post:${postList}">
            <tr>
                <td th:text="${post.p_number}"></td>
                <td th:text="${post.a_id}"></td>
                <!-- p_title(글제목) 누르면 PostController detail(상세보기) 로 넘어갈거야, 찢었던 p_number 가지고  -->
                <td><a th:href="@{/post/detail(p_number=${post.p_number})}" th:text="${post.p_title}"></a></td>
            </tr>
        </th:block>
    </th:block>
</table>
<!-- 페이징 -->
<div class="page_number">
</div>
<!-- PostController write 로! -->
<a th:href="@{/post/write}" th:text="글작성"></a><br>
</body>
<script>
    //Math.floor = 내림 (JS 문법) , ${param.page_number} 얜 request 안에 담겨있는 page_number
    let pageStart = Math.floor((`[[${param.page_number}]]` - 1) / 10) * 10; // pageStart = 0 이야
    let keyword = `[[${param.page_keyword}]]`; //request 안에 page_keyword
    if(pageStart > 0){
        $('.page_number').append(`<a href="/post/list?page_number=${pageStart}&page_keyword=${keyword}">[<]</a>`);
    }   //pageStart 이 1이 된다면 11~20 인거니까 [<] 가 생겨야겠지
    for(let i=1; i<=10; i++){
        $('.page_number').append(`<a href="/post/list?page_number=${pageStart + i}&page_keyword=${keyword}">[${pageStart + i}]</a>`);
    }   //1~10페이지 구현 / 10단위로 구현
    $('.page_number').append(`<a href="/post/list?page_number=${pageStart + 11}&page_keyword=${keyword}">[>]</a>`);
    //11페이지, 21페이지 ... [>] 생겨야겠지
</script>
</html>